absl-py==2.1.0
addict==2.4.0
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.8.1
argon2-cffi==21.1.0
asciinema==2.1.0
asciitree==0.3.3
astunparse==1.6.3
attrs==21.2.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
bibtexparser==1.1.0
biom-format==2.1.10
bleach==4.1.0
blinker==1.7.0
Bottleneck==1.3.2
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
CacheControl==0.12.10
cachetools==5.3.3
catfish==4.16.3
catkin==0.8.10
catkin-pkg-modules==1.0.0
certifi==2020.6.20
chardet==4.0.0
click==8.1.7
cloudpickle==3.0.0
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.1.1
colcon-cmake==0.2.28
colcon-common-extensions==0.3.0
colcon-core==0.15.2
colcon-defaults==0.2.8
colcon-devtools==0.2.5
colcon-installed-package-information==0.1.0
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.2.15
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.3.3
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.8
colcon-recursive-crawl==0.2.3
colcon-ros==0.4.1
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
construct==2.10.67
cov-core==1.15.0
coverage==6.2
cryptography==3.4.8
cupshelpers==1.0
cutadapt==3.5
cwiid==0.6.91
cycler==0.11.0
Cython==0.29.28
dash==2.15.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dblatex==0.3.12
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.4
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnaio==0.7.1
dnspython==2.1.0
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.17.1
dulwich==0.20.31
duplicity==0.8.21
easydict==1.13
empy==3.3.4
entrypoints==0.4
et-xmlfile==1.0.1
fastbencode==0.0.5
fasteners==0.14.1
fastimport==0.9.14
filelock==3.6.0
filterpy==1.4.5
flake8==4.0.1
flake8-blind-except==0.2.0
flake8-builtins==1.5.3
flake8-class-newline==1.6.0
flake8-comprehensions==3.8.0
flake8-deprecated==1.3
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-quotes==3.3.1
Flask==3.0.2
flatbuffers==23.5.26
fonttools==4.29.1
fs==2.4.12
fsspec==2024.2.0
future==0.18.2
gast==0.5.4
gattlib==0.20201113
gdown==5.2.0
genmsg==0.5.16
genpy==0.6.16
glob2==0.7
google-auth==2.28.1
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
gpg==1.16.0
grpcio==1.62.0
gyp==0.1
h5py==3.6.0
h5py.-debian-h5py-serial==3.6.0
hdmedians==0.14.1
html5lib==1.1
httplib2==0.20.2
huggingface-hub==0.22.2
idna==3.3
ifaddr==0.1.7
ijson==3.1.4
imageio==2.34.0
imageio-ffmpeg==0.4.9
importlib-metadata==7.0.1
iniconfig==1.1.1
ipykernel==6.7.0
ipython==7.31.1
ipython_genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==2.1.2
jdcal==1.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.1.3
joblib==0.17.0
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
keras==2.15.0
keyring==23.5.0
kiwisolver==1.3.2
language-selector==0.1
lark==1.1.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.3
libclang==16.0.6
llfuse==1.3.8
llvmlite==0.42.0
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mdurl==0.1.2
ml-dtypes==0.2.0
mmcv==2.1.0
mmcv-full==1.7.2
mmdet==2.14.0
mmengine==0.10.3
mmsegmentation==1.2.2
monotonic==1.6
more-itertools==8.10.0
moviepy==1.0.3
mpmath==0.0.0
msgpack==1.0.3
mypy==0.942
mypy-extensions==0.4.3
natsort==8.0.2
nbclient==0.5.6
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
netifaces==0.11.0
networkx==3.2.1
nose==1.3.7
nose2==0.9.2
notebook==6.4.8
notify2==0.3
numba==0.55.1
numexpr==2.8.1
numpy==1.26.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
odfpy==1.4.2
olefile==0.46
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
panopticapi @ git+https://github.com/cocodataset/panopticapi.git@7bb4655548f98f3fedc07bf37e9040a992b054b0
paramiko==2.9.3
parso==0.8.1
patiencediff==0.2.1
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==4.2.0
plotly==5.19.0
pluggy==0.13.0
ply==3.11
prettytable==3.10.0
proglog==0.1.10
prometheus-client==0.9.0
prompt-toolkit==3.0.28
protobuf==4.25.3
psutil==5.9.0
ptyprocess==0.7.0
py==1.10.0
py-cpuinfo==9.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyBluez==0.23
pycairo==1.20.1
pycocotools @ git+https://github.com/cocodataset/cocoapi.git@8c9bcc3cf640524c4c20a9c40e89cb6a2f2fa0e9#subdirectory=PythonAPI
pycodestyle==2.8.0
pycryptodomex==3.11.0
pycups==2.0.1
pydocstyle==6.1.1
pydot==1.4.2
pyflakes==2.4.0
PyGithub==1.55
Pygments==2.17.2
PyGObject==3.42.1
pygraphviz==1.7
PyJWT==2.3.0
pylibiio==0.23
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyRFC3339==1.1
pyrsistent==0.18.1
PySocks==1.7.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.6.1
pytest-repeat==0.9.1
pytest-rerunfailures==10.2
pytest-timeout==2.1.0
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.1
python-debian==0.1.43+ubuntu1.1
python-dotenv==0.19.2
python-gitlab==2.10.1
python-gnupg==0.4.8
python-miio==0.5.0.1
pythran==0.10.0
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.3.0
q2-cutadapt==2021.8.0
q2-demux==2021.8.0
q2-feature-classifier==2021.8.0
q2-feature-table==2021.8.0
q2-metadata==2021.8.0
q2-quality-control==2021.8.0
q2-quality-filter==2021.8.0
q2-taxa==2021.8.0
q2-types==2021.8.0
q2templates==2021.8.0
qiime2==2021.8.0
regex==2024.4.16
reportlab==3.6.8
requests==2.25.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
retrying==1.3.4
rich==13.7.0
roman==3.3
rosbag==1.15.14
rosgraph==1.15.14
roslib==1.15.8
roslz4==1.15.14
rosmsg==1.15.14
rospkg==1.5.0
rospkg-modules==1.5.0
rospy==1.15.14
rsa==4.9
safetensors==0.4.3
scikit-bio==0.5.6
scikit-image==0.22.0
scikit-learn==0.23.2
scikit-video==1.1.11
scipy==1.8.0
screen-resolution-extra==0.0.0
seaborn==0.11.2
SecretStorage==3.3.1
Send2Trash==1.8.1b0
simplejson==3.17.6
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.1
ssh-import-id==5.11
submitit==1.5.1
sympy==1.9
systemd-python==234
tables==3.7.0
tenacity==8.2.3
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0.post1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
terminado==0.13.1
terminaltables==3.1.10
testpath==0.5.0
texttable==1.6.4
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2024.2.12
timm==0.9.16
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
torch==2.2.0
torch-tb-profiler==0.4.3
torchvision==0.17.0
tornado==6.1
tqdm==4.66.4
traitlets==5.1.1
transformers==4.40.0
triton==2.2.0
typed-ast==1.4.3
typing_extensions==4.9.0
tzlocal==2.1
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
ultralytics==8.2.22
unattended-upgrades==0.1
unicodedata2==14.0.0
urllib3==1.26.5
usb-creator==0.3.7
validators==0.28.1
virtualenv==20.13.0+ds
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==3.0.1
widgetsnbextension==2.0.0
wrapt==1.13.3
xdg==5
xkit==0.0.0
xlwt==1.3.0
xopen==1.2.1
yapf==0.40.2
zeroconf==0.38.3
zipp==1.0.0
fickling>=0.1.3,~=0.1.0
